@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Domine&family=Fira+Sans:ital,wght@1,300&family=IM+Fell+French+Canon+SC&family=Kdam+Thmor+Pro&family=Titillium+Web:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container {
    background: url(media/mordor.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar {
    height: 5rem;
    width: 100%;
    background: rgba(37,51,64,0.7);
}

.navbar ul {
    float: right;
    margin-right: 7em;
}

.navbar ul li {
    list-style: none;
    margin: 1em 0.75em;
    display: inline-block;
    padding: 0.20em 0.75em;
    line-height: 1.5em;
    color: white;
    transition: 0.5s;
    font-size: 1.35em;
    font-family: 'IM Fell French Canon SC', serif;
    font-style: bold;
    cursor: pointer;
}

.navbar ul li#home, .navbar ul li:hover {
    background: #A6896F;
    border-radius: 4px;
}

.content {
    width: 100%;
    position: absolute;
    top: 20%;
}

.left {
    margin-left: 4%;
    color: white;
    display:inline-block;
    /*display: flex;
    flex-direction: column;*/
}

.left h1 {
    font-size: 5em;
    line-height: 1.2em;
    float: left;
    user-select: none;
    padding-bottom: 0.25em;
}

.left p {
    float: left;
    font-size: 2em;
    line-height: 1.1em;
    text-align: left;
    width: 20em;
}

.left p span {
    float: right;
    color: black;
    margin-right: 1.75em;
}

.right {
    margin-right: 10%;
    /*display: flex;*/
    float: right;
    width: 45em;
    height: auto;
    
}

.details {
    background: rgba(166, 137, 111, 0.7);
}

.details ul {
    list-style: none;
}

.details ul h2 {
    color: #404959;
    margin: 10px 0px;
    font-size: 4em;
    line-height: 1.1em;
    text-align: center;
    border: black solid 1px;
    box-shadow: 3px 4px #253340;
}

.details ul img {
    width: auto;
    height: 12em;
    justify-self: center;
    background: white;
}

.details ul form {
    width: 90%;
}

.user-input {
    border-radius: 5px;
    height: 2em;
    width: 80%;
    font-size: 1.2em;
    margin: 4px;
    font-family: 'Courier New', Courier, monospace;
}

.post {
    border-radius: 5px;
    height: 2em;
    width: max-content;
    background-color: rgba(37,51,64,0.9);
    color: white;
    font-size: 1.2em;
    justify-self: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 4px;
    transition: 0.4s;
    padding: 0.1em 0.2em;
}

.post:hover {
    background-color: rgba(177, 198, 218, 0.9);
    color: rgba(26, 40, 54, 0.9);
}

.details ul p {
    
}

