@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Domine&family=Fira+Sans:ital,wght@1,300&family=IM+Fell+French+Canon+SC&family=Kdam+Thmor+Pro&family=Titillium+Web:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container {
    background: url(media/mordor.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar {
    height: 5rem;
    width: 100%;
    background: rgba(37,51,64,0.7);
    
}

.navbar img {
    margin-left: 4%;
    height: 5em;
    width: auto;
}

.navbar ul {
    float: right;
    margin-right: 8em;
}

.navbar ul li {
    list-style: none;
    margin: 1em 0.75em;
    display: inline-block;
    padding: 0.20em 0.75em;
    line-height: 1.5em;
    color: white;
    transition: 0.5s;
    font-size: 1.35em;
    font-family: 'IM Fell French Canon SC', serif;
    font-style: bold;
    cursor: pointer;
}

.navbar ul li#home, .navbar ul li:hover {
    background: #A6896F;
    border-radius: 4px;
}

.navbar ul li .sub-menu {
    position: absolute;
    top: 3.8rem;
    background: rgba(37,51,64,0.7);
    display: none;
    padding: 1em;
    margin: 0em;
    z-index: 1100;
}

.navbar ul li:hover > .sub-menu{
    display: block;
    width: 12em;
    padding: 0em;
    margin: 0em;
}

.navbar ul li .sub-menu li {
    float: none;
    display: list-item;
    position: relative;
    margin: 0em;
    padding: 0.5em 1em;
    font-size: 1.1em;
}

.content {
    width: 100%;
    position: absolute;
    top: 16%;
}

.left {
    margin-left: 4%;
    color: white;
    display: inline-block;
    /*display: flex;
    flex-direction: column;*/
}

.left h1 {
    font-size: 5em;
    line-height: 1.2em;
    float: left;
    user-select: none;
    padding-bottom: 0.35em;
}

.left p {
    float: left;
    font-size: 2em;
    line-height: 1.1em;
    text-align: left;
    width: 20em;
}

.left p span {
    float: right;
    color: black;
    margin-right: 1.75em;
    padding-bottom: 2.5em;
}

.left p.listen {
    line-height: 0.9em;
    color: #000;
    font-size: 1.5em;
    padding-top: 0.25em;
}

.left img {
    padding: auto;
    float: left;
}

.right {
    margin-right: 10%;
    /*display: flex;*/
    float: right;
    width: 45em;
    height: auto;
    
}

.details {
    background: rgba(166, 137, 111, 0.5);
}

.details ul {
    list-style: none;
}

.details ul h2 {
    color: #404959;
    margin: 10px 0px;
    font-size: 4em;
    line-height: 1.1em;
    text-align: center;
    border: black solid 1px;
    box-shadow: 5px -4px #253340;
}

.details ul div.title {
    width: auto;
    height: auto;
    justify-self: center;
    background: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    margin: 1.2em;
    color: #000;
}

.details ul div.title h1 {
    font-size: 2em;
    font-family: 'IM Fell French Canon SC', serif;
}


.details ul form {
    width: 90%;
    padding-left: 1em;
}

.user-input {
    border-radius: 5px;
    height: 2em;
    width: 80%;
    font-size: 1.2em;
    margin: 4px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 1em;
}

.details ul form label {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 1rem;
}

.post {
    border-radius: 5px;
    height: 2em;
    width: max-content;
    background-color: rgba(37,51,64,0.9);
    color: white;
    font-size: 1.2em;
    justify-self: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 4px;
    transition: 0.4s;
    padding: 0.1em 0.4em;
}

.post:hover {
    background-color: rgba(177, 198, 218, 0.9);
    color: rgba(26, 40, 54, 0.9);
}

.details ul p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    line-height: 1.1em;
    padding: 0.5em 1em;
}

#comments {
    font-family: 'Courier New', Courier, monospace;
    padding: 0em 1em;
    border: #253340 solid 2px;
    box-shadow: -5px 4px #253340;
}

#comments li {
    font-size: 1em;
    text-align: left;
    line-height: 1.5em;
    padding: 0.5em 0em;
    width: 90%;
}

#comments li img {
    height: 1.2em;
    vertical-align: text-bottom;
}

.hidden {
    display: none;
}

.enable-scroll {
    max-height: 10em;
    overflow-y: scroll;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

